.listings {
  color: #333;
  text-align: left;
}

.listings h2 {
  font-size: 2em;
}

.listings ul {
  list-style-type: none;
  padding: 0;
}

.listings li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}